@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 80px;

  @media (min-width: 768px) {
    --header-height: 100px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
  }
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(45deg, #c0c4b0, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .gradient-text-dark {
    background: linear-gradient(90deg, #16202a, #6a7480);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .text-clamp-xs {
    font-size: clamp(16px, 3vw + 1px, 20px);
  }

  .text-clamp-md {
    font-size: clamp(25px, 4vw + 1px, 35px);
  }

  .text-clamp-lg {
    font-size: clamp(26px, 5vw + 1px, 57px);
  }

  .text-clamp-max-xl {
    font-size: clamp(2.5rem, 8vw + 1rem, 15.5rem);
    line-height: 1.1;
  }

  .text-clamp-huge {
    font-size: clamp(130px, 10vw + 1rem, 445px);
    line-height: 1.1;
  }

  .text {
    fill: white;
    transform-origin: 50% 50%;
  }

  #curve {
    fill: transparent;
  }
}

// #ANIMATIONS

// ##SPIN HOVER
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes reverse-spin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.spin-animation {
  animation: spin 0.5s forwards;
}

.reverse-spin-animation {
  animation: reverse-spin 0.5s forwards;
}
